
.header-container{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#900C3F, #C70039, #581845);
    position: sticky;
    border: 4px solid #FF5733;
    box-shadow: 0 0 30px #fff;
}

.title {
    width: 100%;
    color: #DAF7A6;
    padding: 10px;
    font-size: 20px;
}

.title{
    width:100%;
    height:auto;
}

.button-header-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}

.button-header-container button{
    transition: filter .2s ease-in, filter .2s ease-in, font-size .2s ease-in;
}

.button-header-container button:hover{
    color: #581845;
    filter: brightness(1.5);
    font-size: 22px;
    filter: drop-shadow(0 0 3px #fff);
}

.button-header-container button{
    padding: 20px;
    border: 3px solid #581845;
    background-color: #FFC300;
    border-radius: 20px;
    font-family: "Kode Mono";
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #DAF7A6;
}
